html {
    font-size: 20px;
    background: lightslategray;
}

body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #464646;
    color: white;
    padding: 20px;
}